<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Register page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to Register page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel tempora quasi sunt aperiam, necessitatibus fugiat consectetur recusandae sit dolorem. Saepe consectetur minima exercitationem numquam iusto sed delectus. Animi, corporis laborum!</p>
    </div>
    <script>
        console.log('Register page script');
    </script>
</body>
</html> 